<div class="header">Assignments to be graded</div>

<div class="container">
  <table>
    <tr class="assignment" *ngFor="let assignment of assignments">

      <td>{{assignment.dueDate}}</td>
      <td>{{(courseService.getCourse(assignment.course) | async)?.name}}: {{assignment.name}}</td>
      <td>{{(studentService.getStudent(assignment.student) | async)?.name}}</td>

      <td>
        <button md-button>
          {{assignment.score}}/{{assignment.outOf}}
        </button>
      </td>
    </tr>
  </table>
</div>
