
<div class="container">
  <div class="header">
    <md-icon>search</md-icon>
    <md-input-container>
      <input mdInput placeholder="Search">
    </md-input-container>
  </div>
  <div class="students">
    <md-card *ngFor="let student of students">
      <md-card-title>Ryan Berger</md-card-title>
      <md-card-subtitle>asdfasdf</md-card-subtitle>
      <md-card-actions>
        <button md-button color="accent" (click)="navigateToSubmission(1, $event)">Grade Assignments</button>
      </md-card-actions>
    </md-card>
  </div>
</div>

