<div class="container" *ngIf="assignment">
  <div class="container__header">{{assignment.name}}</div>
  <md-tab-group>
    <md-tab label="Info">
      <h3>Description</h3>
      <p>{{assignment.description}}</p>
    </md-tab>
    <md-tab label="Ungraded Submissions">
      <button md-raised-button color="accent" class="grade-button" (click)="gradeSubmissions()">GRADE SUBMISSIONS</button>
      <app-assignment-submissions [filters]="{assignment: assignment.id, graded: false}" ></app-assignment-submissions>
    </md-tab>
    <md-tab label="Graded Submissions">
      <app-assignment-submissions [filters]="{assignment: assignment.id, graded: true}"></app-assignment-submissions>
    </md-tab>
  </md-tab-group>
</div>
