<div class="header" *ngIf="!_filters.graded">Assignments to be graded</div>
<div class="header" *ngIf="_filters.graded">Graded assignments</div>

<div class="container">
  <div class="container__header" *ngIf="!_synopsis">
    <md-icon>search</md-icon>
    <md-input-container>
      <input mdInput placeholder="Search" [(ngModel)]="searchText" (ngModelChange)="search($event)">
    </md-input-container>
  </div>
  <table>
    <tr class="assignment" *ngFor="let assignment of assignmentSubmissions" (click)="navigateToAssignment(1)">
      <div class="assignment__name" *ngIf = !inDetail>
        <div class="assignment__name__course">English: </div>
        Essay
      </div>

      <td>
        <button md-button>
          100/100
        </button>
      </td>
    </tr>
  </table>
  <button
    *ngIf="_synopsis"
    md-raised-button
    (click)="navigate()"
    class="more-button"
    color="accent">MORE</button>
</div>
