<div class="container" *ngIf="course">
  <div class="container__header">{{course.name}}</div>
  <md-tab-group>
    <md-tab label="Students">
      <app-students-table [filters]="{course: course.id}"></app-students-table>
    </md-tab>
    <md-tab label="Ungraded Submissions">
      <app-assignment-submissions [filters]="{course: course.id}"></app-assignment-submissions>
    </md-tab>
    <md-tab label="Assignments">
      <app-assignments-table [filters]="{course: course.id}"></app-assignments-table>
    </md-tab>
    <md-tab label="Graded Submissions">
      <app-assignment-submissions [filters]="{course: course.id, graded:true}"></app-assignment-submissions>
    </md-tab>
  </md-tab-group>
</div>
