.container {
  width: 100vw;
  height: 100vh;
}

.toolbar {

  &__icon {
    margin-right: 16px;
  }

}

md-sidenav {
  width: 300px;
}

.header {
  display: flex;
  background: #3f51b5;
  height: 200px;


  &__username {
    align-self: flex-end;
    display: flex;
    justify-content: center;
    margin: 16px;
    color: white;
    bottom: 0;

    span {
      align-self: center;
      margin-left: 16px;
    }

  }
}

.sidenav-icon {
  color: #757575;
  margin-right: 16px;
}
