<div class="container">
  <div class="side-nav" *ngIf="sideNav.toggled">
    <div class="side-nav__overlay" (click)="sideNav.toggle()"></div>
    <div class="inner-container">
      <div class="side-nav-main" [@flyIn]="sideNavStat">

      </div>
    </div>

  </div>
  <div *ngIf="spin.toggled" class="overlay" (click)="spin.toggle()"></div>
  <md-toolbar class="fake-toolbar" color="primary">
    <md-icon class="menu" (click)="sideNav.toggle()">menu</md-icon>
    <span>Sweep</span>
  </md-toolbar>
  <md-toolbar color="primary">
    <md-toolbar-row></md-toolbar-row>
    <md-toolbar-row></md-toolbar-row>
    <div class="fab-menu">
      <button [@spin]="spin.state" md-fab class="add" (click)="spin.toggle()">
        <md-icon>add</md-icon>
      </button>
      <button
        class="fab-menu__item"
        md-mini-fab
        mdTooltip="Add Assignment"
        mdTooltipPosition="before"
        [ngClass]="{'fab-menu__item--shown': spin.toggled}"
        (click)="spin.toggle()">
        <md-icon>class</md-icon>
      </button>
      <button
        md-mini-fab
        mdTooltip="Make a quiz"
        mdTooltipPosition="before"
        [ngClass]="{'fab-menu__item--shown': spin.toggled}"
        class="fab-menu__item"
        (click)="spin.toggle()">
        <md-icon>list</md-icon>
      </button>
    </div>
  </md-toolbar>
  <div class="main-content">
    <md-card class="title-card">
      <md-card-title>Your Dashboard</md-card-title>

      <h3>Todo:</h3>

      <div class="todo">
        <div *ngFor="let todo of todos" class="todo__item">
          {{todo}}
        </div>
      </div>
    </md-card>

    <md-card class="statistics-card">
      <md-card-title>Statistics</md-card-title>

      <div class="graph">
        <canvas baseChart
            [datasets]="data"
            [chartType]="'doughnut'"
            [colors]="chartColors"
            [options]="chartOptions"></canvas>
        <span class="graph--inside-text">60% passing</span>
      </div>
    </md-card>

  </div>
</div>
