<div class="container">
  <md-toolbar class="toolbar" color="primary">
    <a md-button [routerLink]="['/dashboard']">DASHBOARD</a>
    <a md-button [routerLink]="['/assignments']">ASSIGNMENTS</a>
    <a md-button [routerLink]="['/my-students']">MY STUDENTS</a>
    <div class="toolbar__fill"></div>
    <a md-button class="logout" (click)="logout()">LOG OUT</a>
  </md-toolbar>
  <!--<md-toolbar class="fake-toolbar" color="primary">-->
  <!--</md-toolbar>-->
  <router-outlet></router-outlet>
</div>
