.container {
  width: 100vw;
  height: 100vh;
}

.toolbar {

  &__icon {
    margin-right: 16px;
  }

}

md-sidenav {
  width: 300px;
}

.header {
  background: #3f51b5;
  height: 200px;
}

.sidenav-icon {
  color: #757575;
  margin-right: 16px;
}
